.title {
  margin-left: 2rem;
  margin-right: 2rem;
  padding-left: 1rem;
  color: #334443;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  background-color: bisque;
}

/* to clear out blue color and underline from hyperlinks, use this class. */
.clean{
  color: inherit;
  text-decoration: none;
}
.clean:hover{
  text-decoration: none;
}

#question,#option{
  width: 15rem;
  height: 2rem;
}
h3 {
  background-color: rgb(255, 250, 244);
  padding-left: 0.5rem;
}
p {
  margin-left: 0.5rem;
}

#main_part {
  margin-left: 1rem;
}
